.desktop-nav-holder1 {
  display: none;
  height: 40px;

  position: relative; //kills flex

  //z-index: 1;

  @media @desktop {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: transparent;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }

  .desktop-nav-text {
    display: none;
  }

  .desktop-nav-actions1 {
    display: none;

    @media @desktop {
      margin-top: 5px;
      margin-right: 5px;
      padding: 0 5px;
      display: flex;
      width: 200px;
      flex-direction: row;
      justify-content: space-between;
    }
    // .nav-button {               //styles nav button but HOme and about dissapear
    //   //display: flex;
    //   background: @body-background;
    //   justify-content: center;
    //   align-content: center;
    //   background: transparent;
    //   border: solid rgb(221, 219, 219) 2px;
    //   color: white;
    //   font-size: 0.8em;
    //   //color: @ctatext;
    //   padding-bottom: 10px;
    //   padding-top: 10px;
    //   padding-left: 25px;
    //   padding-right: 25px;
    //   text-align: center; //does nothing
    //   vertical-align: center; //does nothing
    //   height: 2.75rem;
    //   width: auto;
    //   margin: 10px;
    //   border-radius: 5px;

    //   // &:hover {
    //   //   color: darken(teal, 10%);
    //   // }
    // }

    .signupnav {
      background: @softgrey;
      color: @sexygrey;
    }

    // @media @desktop {
    //   display: flex;
    //   flex-direction: row;
    //   width: 500px;
    //   justify-content: space-between;
    // }
  }
}
