// Variables

//Media escape variables
@tablet: ~"(min-width: 500px)";
@desktop: ~"(min-width: 800px)";

//Color Pointers
@body-background: @softgrey;

//@nav-background: @colorname1;
@nav-font: @colorname2;

//Tiles background
@tiles-background: @prettymuchwhite;

@ctabackground: @kindacoral;
@ctatext: @kindacoraltext;

@footerbackground: @classygrey;
@menubackground: @sexygrey;

//Color Pallette

@softgrey: #f5f5f5;
@colorname2: #a81616;
@prettymuchwhite: white;
@kindacoral: #e89980;
@kindacoraltext: #f9e6df;
@classygrey: #f0f0f0;
@sexygrey: #2b2b2b;
